name: Deploy to Surge

on:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Surge
        run: npm install -g surge

      - name: Deploy
        run: surge ./ --domain parcial-1-electiva-ja-jm.surge.sh
        env:
          SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
